<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:security="http://www.springframework.org/schema/security" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="bigbank" />

	<bean id="ui.entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="spring-demo-ui" />
		<property name="dataSource" ref="ui.dataSource" />
		<property name="persistenceXmlLocation" value="#{uiProperties['persistenceXmlLocation']}" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="databasePlatform" value="org.hibernate.dialect.H2Dialect" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
			</props>
		</property>
	</bean>

	<security:http use-expressions="true">
		<security:intercept-url pattern="/secure/extreme/**" access="hasRole('RIGHT_EXTREM_SECURE')" />
		<security:intercept-url pattern="/secure/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/**" access="permitAll" />
		<security:form-login />
		<security:logout logout-success-url="/loggedout.jsp" />
		<security:remember-me />
		<security:session-management invalid-session-url="/timeout.jsp">
			<security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</security:session-management>
	</security:http>

	<beans profile="glassfish">
		<util:properties id="uiProperties" location="classpath:/ui_glassfish.properties" />

		<bean id="ui.transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
			<property name="transactionManagerName" value="java:appserver/TransactionManager" />
		</bean>		

		<jee:jndi-lookup id="ui.dataSource" jndi-name="jdbc/database" />
	</beans>

	<beans profile="ide">
		<util:properties id="uiProperties" location="classpath:/ui_ide.properties" />

		<bean id="ui.transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
			<property name="entityManagerFactory" ref="ui.entityManagerFactory" />
		</bean>

		<tx:annotation-driven transaction-manager="ui.transactionManager" />

		<jdbc:embedded-database id="ui.dataSource" type="H2" />
	</beans>

</beans>
